<launch>
	<arg name="machine" default=""/> <!-- Argument w nodach "machine" znaczy tyle że ma się uruchomić na innym urządzeniu a nie komputerze gdzie uruchamiasz Jeśli jest pusty to tyle że odpali się na kompie-->
    <node name = "move_base" pkg = "move_base" type = "move_base" output = "screen" machine="$(arg machine)">
<param name = "base_global_planner" value = "navfn/NavfnROS"/>
<param name = "base_local_planner" value = "dwa_local_planner/DWAPlannerROS"/>
<!--param name = "recovery_behaviors" value = "conservative_reset"/-->

<rosparam command = "load" file="$(find argo_mini)/config/move_base_conf.yaml"/>
<rosparam command = "load" file="$(find argo_mini)/config/global_costmap_conf.yaml"/>
<rosparam command = "load" file="$(find argo_mini)/config/local_costmap_conf.yaml"/>
<rosparam command = "load" file="$(find argo_mini)/config/base_global_planner_conf.yaml"/>
<rosparam command = "load" file="$(find argo_mini)/config/base_local_planner_conf.yaml"/>
<!--rosparam command = "load" file="$(find argo_mini)/config/"/>
<rosparam command = "load" file="$(find argo_mini)/config/"/-->
</node>
</launch>