<launch>
    <arg name="mapping" default="false"/>
    <arg name="amcl" default="false"/>
    <arg name="navigation" default="false"/>
    <arg name="drive" default="6w"/>
    <arg name="address" default="192.168.1.18"/>
<!--     <arg name="address" default="192.168.0.100"/> -->

    <machine name="argo_mini" address="$(arg address)" user="rafpi" password="argo"
             env-loader="/home/rafpi/ws_dzik/env.sh"/>
    <node name="hardware_interface_node" pkg="argo_mini_hardware_interface"
          type="node" machine="argo_mini" required="true">
        <rosparam command="load" file="$(find argo_mini)/config/hardware.yaml"/>
        <param name="argo_mini/drive" value="$(arg drive)"/>
    </node>

<!--     <node name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" output="screen" -->
<!--           machine="argo_mini" launch-prefix="bash -c 'sleep 5.0; $0 $@' "> -->
<!--         <param name="serial_port"         type="string" value="/dev/ttyUSB0"/> -->
<!--         <param name="serial_baudrate"     type="int"    value="256000"/> -->
<!--         <param name="frame_id"            type="string" value="rp_lidar_a1"/> -->
<!--         <param name="inverted"            type="bool"   value="true"/> -->
<!--         <param name="angle_compensate"    type="bool"   value="true"/> -->
<!--         <param name="scan_mode"           type="string" value="Sensitivity"/> -->
<!--     </node> -->

    <node pkg="tf" type="static_transform_publisher" name="laser_frame_broadcaster"
          args="0.15 0. 0.0 3.14 0. 3.14 rp_lidar_a1 camera_link 500" />

    <include file="$(find argo_mini)/launch/mapping.launch" if="$(arg mapping)">
        <arg name="machine" value="argo_mini"/>
    </include>

    <include file="$(find argo_mini)/launch/amcl.launch" if="$(arg amcl)">
        <arg name="machine" value="argo_mini"/>
    </include>

    <include file="$(find argo_mini)/launch/navigation.launch" if="$(arg navigation)">
        <arg name="machine" value="argo_mini"/>
    </include>
</launch>
