<launch>
    <arg name="simulation" default="true"/>
    <arg name="rviz" default="true"/>
    <arg name="gazebo_gui" default="false"/>
    <arg name="world" default="pb"/> <!-- warehouse map01 pb -->
    <arg name="mapping" default="false"/>
    <arg name="amcl" default="false"/> <!-- use with map01 or pb map -->
    <arg name="navigation" default="false"/>
    <arg name="rrt_exploration" default="false"/>
    <rosparam file="$(find argo_mini)/config/controllers_info.yaml"/>
    <rosparam file="$(find argo_mini)/config/hardware.yaml" unless="$(arg simulation)"/>

<!--    <node name="rviz" pkg="rviz" type="rviz" if="$(arg rviz)" args="-d $(find argo_mini)/rviz/rviz_rrt.rviz">-->
<!--    <node name="rviz" pkg="rviz" type="rviz" if="$(arg rviz)" args="-d $(find argo_mini)/rviz/rviz_remote.rviz">-->
    <node name="rviz" pkg="rviz" type="rviz" if="$(arg rviz)" args="-d $(find argo_mini)/rviz/rviz.rviz">
        <remap from="/move_base_simple/goal" to="/argo_mini/move_base_simple/goal"/>
    </node>

    <include file="$(find argo_mini)/launch/gazebo.launch" if="$(arg simulation)">
        <arg name="world" default="$(arg world)"/>
        <arg name="gazebo_gui" default="$(arg gazebo_gui)"/>
    </include>

    <group ns="argo_mini">
        <param name="robot_description"
               command="$(find xacro)/xacro $(find argo_mini_urdf_podstawa)/urdf/argo_mini_urdf_podstawa.xacro
               drive:=argo_mini_urdf_6w_drive peripheral:=''"/>

        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
              args="joint_state_controller 6w_controller"/>

        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false"/>

        <group if="$(arg simulation)">
            <include file="$(find argo_mini)/launch/mapping.launch" if="$(arg mapping)"/>
            <include file="$(find argo_mini)/launch/navigation.launch" if="$(arg navigation)"/>
            <include file="$(find rrt_exploration)/launch/simple.launch" if="$(arg rrt_exploration)"/>

            <include file="$(find argo_mini)/launch/amcl.launch" if="$(arg amcl)">
                <arg name="map" value="$(arg world)"/>
            </include>
        </group>

        <include file="$(find argo_mini)/launch/remote_nodes.launch" unless="$(arg simulation)" >
            <arg name="mapping" value="$(arg mapping)"/>
            <arg name="amcl" value="$(arg amcl)"/>
            <arg name="navigation" value="$(arg navigation)"/>
            <arg name="drive" value="6w"/>
        </include>

        <include file="$(find argo_mini)/launch/joy_steering.launch"/>
        <include file="$(find argo_mini)/launch/laser_odom.launch"/>
    </group>
</launch>